body {
    font-family: Arial;
}

#main-heading {
    text-align: center;
}

#enter,
#todo-date {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#add {
    margin: 10px;
    background-color: rgb(12, 121, 12);
    color: white;
    width: 90px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.delete-button {
    margin-left: 10px;
    background-color: rgb(121, 25, 12);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.todo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
.main-heading {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
.about {
  padding: 75px 20px;
  background: #0f0a07;
  border:2px solid white;
  border-radius: 20px;
  margin:30px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.4); /* 👈 transparency */
  backdrop-filter: blur(10px);
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  color: white;
}

/* Text */
.about-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.8;
}
